#content {
	background-image:url("https://www.stolaf.edu/css/1-column-content-back.gif");
}

#single {
	width:748px;
	float:left;
	padding:8px 16px 10px 16px;
	line-height:16px;
	background-color:#ffffff;
}
