@media(max-width:1024px) {
	
}

@media(max-width:940px) {
	.wrap {
		width: 100%;
	}
	/* Header */
	#header {
		display: none;
	}
	.scroller,
	#logo-mob {
		display: block;
	}
	#content-wrapper {
		padding-top: 55px;
		padding-bottom: 40px;
	}
	

	/* Navigation  */
	#hamburger {
		display: inline-block;
	}
	#navigation,
	#breadcrumb,
	#left-col {
		display: none;
	}
	#navigation ul li {
		float:none;
	}

	a#sidebar-nav-mobile {
		display: block;
	}

	/* Content */
	#left-col,
	#right-col,
	#sidebar-otp {
		width:auto;
		float:none;
	}
	#right-col {
		margin-top:20px;
		padding: 0 15px 20px;
	}

	a#print-btn { display: none; }

	#content .cola,#content .colb { float:none; width:auto; }

	#footer .social {
		display: none;
	}
	#footer .contact-info {
		float: none;
		padding-top: 25px;
		margin-left:10%;
	}

}