#content {
	background-image:url("../../../../css/1-column-content-back.gif.html");
}

#single {
	width:748px;
	float:left;
	padding:8px 16px 10px 16px;
	line-height:16px;
	background-color:#ffffff;
}
